@model string;
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row">
        <h1>Your order with number: <b>@Model</b></h1>
        <h2>
            was
        </h2>
        <h1>successfully placed</h1>
        <h3>we will contact you in <b>one business day</b></h3>
    </div>

</div>

